<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:turtle</key>
		<dict>
			<key>CreationDate</key>
			<date>2010-05-28T14:52:45Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>07D74670-8B2A-4222-9971-5C2BC6B408BF</string>
			<key>PageDigests</key>
			<dict>
				<key>css/header/header_center.css</key>
				<dict>
					<key>Digest</key>
					<data>
					avCZ9X6HBYfoCQzspDc0OA==
					</data>
					<key>Size</key>
					<integer>71</integer>
				</dict>
				<key>css/header/header_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					olnJuCAnW7M0D3tfkMs2tw==
					</data>
					<key>Size</key>
					<integer>151</integer>
				</dict>
				<key>css/header/header_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					xzCs7dZgDCDRQWksoe3cgw==
					</data>
					<key>Size</key>
					<integer>153</integer>
				</dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					i6bVQi4MAYJXexVp5zlwAQ==
					</data>
					<key>Size</key>
					<integer>247</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					FUKpaWLRQcdQBqGKeaZ2MQ==
					</data>
					<key>Size</key>
					<integer>771</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					PrAls/Ab+goeAG2Dmf+62w==
					</data>
					<key>Size</key>
					<integer>177</integer>
				</dict>
				<key>css/styles/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					OnWWb4Zv3u4Tcp/GkdyiEQ==
					</data>
					<key>Size</key>
					<integer>1959</integer>
				</dict>
				<key>css/styles/bluegrass.css</key>
				<dict>
					<key>Digest</key>
					<data>
					OPyjFvz62dJIC7YPDzS+eA==
					</data>
					<key>Size</key>
					<integer>3234</integer>
				</dict>
				<key>css/styles/green.css</key>
				<dict>
					<key>Digest</key>
					<data>
					DuR8aZHK0ZSw6LnpZrmtgw==
					</data>
					<key>Size</key>
					<integer>2183</integer>
				</dict>
				<key>css/styles/orange.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Y6dP4WJj8PSwqakr4R/Vfg==
					</data>
					<key>Size</key>
					<integer>2175</integer>
				</dict>
				<key>css/styles/tech.css</key>
				<dict>
					<key>Digest</key>
					<data>
					GD946F8nEWFO72w4xAqzUw==
					</data>
					<key>Size</key>
					<integer>2572</integer>
				</dict>
				<key>css/width/width_1000.css</key>
				<dict>
					<key>Digest</key>
					<data>
					mIz1woeOqn2hwcwzj4+mSA==
					</data>
					<key>Size</key>
					<integer>31</integer>
				</dict>
				<key>css/width/width_600.css</key>
				<dict>
					<key>Digest</key>
					<data>
					61hXDDmGVY3UknQ4IX9klg==
					</data>
					<key>Size</key>
					<integer>30</integer>
				</dict>
				<key>css/width/width_default.css</key>
				<dict>
					<key>Digest</key>
					<data>
					A0uW8J0k3n0bI7GJPdDc/Q==
					</data>
					<key>Size</key>
					<integer>164</integer>
				</dict>
				<key>css/width/width_variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					yyzPf7r/yfzHycz2EiEovg==
					</data>
					<key>Size</key>
					<integer>28</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/bluegrass/body_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					0B3xikMx2JotHAMgCvfI0A==
					</data>
					<key>Size</key>
					<integer>132</integer>
				</dict>
				<key>images/bluegrass/body_top_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					3L9LFERUfM5JYNbbkWBniw==
					</data>
					<key>Size</key>
					<integer>227</integer>
				</dict>
				<key>images/bluegrass/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					TtZRhIbyMlIoGAHDSkiAzQ==
					</data>
					<key>Size</key>
					<integer>66060</integer>
				</dict>
				<key>images/bluegrass/side_head_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					bV0nMLsX8kIYeQKjOD4QPQ==
					</data>
					<key>Size</key>
					<integer>168</integer>
				</dict>
				<key>images/body_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YKeuLKmCP/E8pDj3Vl5Y4A==
					</data>
					<key>Size</key>
					<integer>124</integer>
				</dict>
				<key>images/body_top_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					bklpr0r97hdMDuao4ef35w==
					</data>
					<key>Size</key>
					<integer>245</integer>
				</dict>
				<key>images/category.png</key>
				<dict>
					<key>Digest</key>
					<data>
					aTNlFhteaTgcDVIBWd3upA==
					</data>
					<key>Size</key>
					<integer>343</integer>
				</dict>
				<key>images/comment.png</key>
				<dict>
					<key>Digest</key>
					<data>
					cIqDIccXVaDbWx3woEdzDA==
					</data>
					<key>Size</key>
					<integer>365</integer>
				</dict>
				<key>images/date.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1+1mK/Rn+94muFPMbDk9MA==
					</data>
					<key>Size</key>
					<integer>398</integer>
				</dict>
				<key>images/green/header_bg.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qMe24wNfJvOJv6RwtEqL2w==
					</data>
					<key>Size</key>
					<integer>16023</integer>
				</dict>
				<key>images/green/side_head_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					l3BVHzFoZ5SXlW+kJB0xJg==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>images/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					zF09WQmCYeDvCAUQHVBCBA==
					</data>
					<key>Size</key>
					<integer>1392</integer>
				</dict>
				<key>images/orange/comment.png</key>
				<dict>
					<key>Digest</key>
					<data>
					VYPMLWu8B87XUcQk51L9tw==
					</data>
					<key>Size</key>
					<integer>394</integer>
				</dict>
				<key>images/orange/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					+CSLJRcGUEF51wtTXQxvnQ==
					</data>
					<key>Size</key>
					<integer>226</integer>
				</dict>
				<key>images/orange/side_head_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					6+R3tTimrxrnsN91/ZFt+Q==
					</data>
					<key>Size</key>
					<integer>159</integer>
				</dict>
				<key>images/rss_icon.png</key>
				<dict>
					<key>Digest</key>
					<data>
					ru9ucG8WBOGLyYO4AfY4XA==
					</data>
					<key>Size</key>
					<integer>497</integer>
				</dict>
				<key>images/side_head_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Wj/VmH43shwb1wAhIYGokw==
					</data>
					<key>Size</key>
					<integer>161</integer>
				</dict>
				<key>images/sidebar_left_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					R0y2lx2cPfrWQ8IX3cAopQ==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>images/sidebar_right_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					TL4aMbluvWTetW+k2TbHpg==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>images/tech/body_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					xBg4+uXwgJ6EGZvoL85UGQ==
					</data>
					<key>Size</key>
					<integer>131</integer>
				</dict>
				<key>images/tech/body_top_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					rYugKA0AxCZ/eL/DPGmuhQ==
					</data>
					<key>Size</key>
					<integer>170</integer>
				</dict>
				<key>images/tech/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BWw46dD6Sip7oogwQSqO2Q==
					</data>
					<key>Size</key>
					<integer>172</integer>
				</dict>
				<key>images/tech/side_head_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Kq8+mot8Fe1tfaVDukczkQ==
					</data>
					<key>Size</key>
					<integer>146</integer>
				</dict>
				<key>images/trackback.png</key>
				<dict>
					<key>Digest</key>
					<data>
					eAqYhCBuaqATjr+YUmIfcQ==
					</data>
					<key>Size</key>
					<integer>339</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					iezQ8899+O5jnHKzWNWPWg==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					cFUbJkbNArVNWNBvx4v6zw==
					</data>
					<key>Size</key>
					<integer>13652</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:turtle</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
