<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page18</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:37Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					4xB9gXbSPpffCuTpS1wLug==
					</data>
					<key>Size</key>
					<integer>22887</integer>
				</dict>
				<key>index_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>index_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>index_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>index_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>index_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>index_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>index_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>index_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>index_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>index_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>index_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>index_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>index_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>index_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>index_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>index_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>index_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>index_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page18</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page19</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:38Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>page2.html</key>
				<dict>
					<key>Digest</key>
					<data>
					9HCjcqJ5foDld5Vd01pTmg==
					</data>
					<key>Size</key>
					<integer>22880</integer>
				</dict>
				<key>page2_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>page2_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>page2_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>page2_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>page2_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>page2_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>page2_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>page2_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>page2_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>page2_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>page2_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page2_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>page2_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page2_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page2_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page2_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>page2_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>page2_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page19</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page20</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:39Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>page3.html</key>
				<dict>
					<key>Digest</key>
					<data>
					5SacWZKAF1A8y56vK7KmUA==
					</data>
					<key>Size</key>
					<integer>23048</integer>
				</dict>
				<key>page3_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>page3_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>page3_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>page3_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>page3_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>page3_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>page3_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>page3_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>page3_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>page3_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>page3_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page3_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>page3_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page3_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page3_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page3_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>page3_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>page3_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page20</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page21</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:40Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>page4.html</key>
				<dict>
					<key>Digest</key>
					<data>
					csFAoDotgWRM+P7Wa6Mdsw==
					</data>
					<key>Size</key>
					<integer>22919</integer>
				</dict>
				<key>page4_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>page4_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>page4_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>page4_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>page4_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>page4_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>page4_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>page4_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>page4_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>page4_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>page4_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page4_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>page4_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page4_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page4_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page4_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>page4_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>page4_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page21</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page22</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:40Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>page5.html</key>
				<dict>
					<key>Digest</key>
					<data>
					g+1yNBMlZYXD1ny3JdLpnQ==
					</data>
					<key>Size</key>
					<integer>11039</integer>
				</dict>
				<key>page5_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>page5_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>page5_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>page5_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>page5_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>page5_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>page5_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>page5_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>page5_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>page5_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>page5_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page5_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>page5_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page5_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page5_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page5_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>page5_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>page5_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page22</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page23</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:42Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>slideshow.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Pn2aNsqAatrn2DiFJf9zTw==
					</data>
					<key>Size</key>
					<integer>4941</integer>
				</dict>
				<key>slideshow_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>slideshow_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>slideshow_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>slideshow_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>slideshow_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>slideshow_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>slideshow_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>slideshow_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>slideshow_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>slideshow_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>slideshow_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>slideshow_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>slideshow_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>slideshow_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>slideshow_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>slideshow_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>slideshow_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>slideshow_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page23</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
