<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page2</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:25Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					BZyDGuUAKiONPJhaOZ9mCQ==
					</data>
					<key>Size</key>
					<integer>22919</integer>
				</dict>
				<key>index_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>index_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>index_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>index_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>index_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>index_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>index_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>index_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>index_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>index_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>index_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>index_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>index_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>index_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>index_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>index_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>index_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>index_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page2</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page5</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:25Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>page2.html</key>
				<dict>
					<key>Digest</key>
					<data>
					ig0dY7CBR5VaiXyXjvnw6g==
					</data>
					<key>Size</key>
					<integer>22983</integer>
				</dict>
				<key>page2_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>page2_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>page2_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>page2_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>page2_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>page2_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>page2_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>page2_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>page2_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>page2_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>page2_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page2_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>page2_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page2_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page2_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page2_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>page2_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>page2_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page5</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page6</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:26Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>page3.html</key>
				<dict>
					<key>Digest</key>
					<data>
					aSPAACVh2wsxY0E42NXFDg==
					</data>
					<key>Size</key>
					<integer>22977</integer>
				</dict>
				<key>page3_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>page3_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>page3_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>page3_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>page3_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>page3_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>page3_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>page3_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>page3_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>page3_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>page3_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page3_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>page3_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page3_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page3_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page3_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>page3_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>page3_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page6</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page7</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:27Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>page4.html</key>
				<dict>
					<key>Digest</key>
					<data>
					njSMBplagAoFWhrA3Im3Hg==
					</data>
					<key>Size</key>
					<integer>21201</integer>
				</dict>
				<key>page4_files/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					/JT7DD7YqPkJ28djCgmH/w==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>page4_files/close.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9l0rL5QDLWwwN2IoQ6UA==
					</data>
					<key>Size</key>
					<integer>222</integer>
				</dict>
				<key>page4_files/closelabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					DlRisLTwBDLqxLM9X6McWg==
					</data>
					<key>Size</key>
					<integer>979</integer>
				</dict>
				<key>page4_files/info_icon.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					eyJNTFmIklZCUhrWzqNILw==
					</data>
					<key>Size</key>
					<integer>2671</integer>
				</dict>
				<key>page4_files/loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Dm4PRtdQQkIwK8gFWtnIwg==
					</data>
					<key>Size</key>
					<integer>3897</integer>
				</dict>
				<key>page4_files/mootools.rapidflickr.js</key>
				<dict>
					<key>Digest</key>
					<data>
					/sS2vEOjBapMWx0JMspXPg==
					</data>
					<key>Size</key>
					<integer>43880</integer>
				</dict>
				<key>page4_files/next.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					gEVD2qhg6Rqr6bpjTmTtKw==
					</data>
					<key>Size</key>
					<integer>305</integer>
				</dict>
				<key>page4_files/nextlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					SF2Jti969/DOlCe7mmNufg==
					</data>
					<key>Size</key>
					<integer>354</integer>
				</dict>
				<key>page4_files/prev.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					7ybvAIHtAWE89vqLaAGcpA==
					</data>
					<key>Size</key>
					<integer>307</integer>
				</dict>
				<key>page4_files/prevlabel.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					2TX0rPVuC4Mhi721g15OIw==
					</data>
					<key>Size</key>
					<integer>371</integer>
				</dict>
				<key>page4_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page4_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>page4_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>page4_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page4_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>page4_files/slimbox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					uM63JnHPIMJEesYUF7AJKw==
					</data>
					<key>Size</key>
					<integer>1296</integer>
				</dict>
				<key>page4_files/slimbox.js</key>
				<dict>
					<key>Digest</key>
					<data>
					t8dA5xaKth/KKNbB1HAYxA==
					</data>
					<key>Size</key>
					<integer>7126</integer>
				</dict>
				<key>page4_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page7</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page8</key>
		<dict>
			<key>CreationDate</key>
			<date>2009-12-31T21:05:28Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>84CBEE41-17B8-49E5-BABB-E4F2BDFFC20E</string>
			<key>PageDigests</key>
			<dict>
				<key>slideshow.html</key>
				<dict>
					<key>Digest</key>
					<data>
					MUjfE65nFRa6rG25nVDyTg==
					</data>
					<key>Size</key>
					<integer>4940</integer>
				</dict>
				<key>slideshow_files/shad_blcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					72JHs3xTODu8SKhmawxmEw==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>slideshow_files/shad_bottom.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Sign5ALo+XEnt8S2D1d/EQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>slideshow_files/shad_brcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BIBeG4xx6D/nXJArIRhXpQ==
					</data>
					<key>Size</key>
					<integer>182</integer>
				</dict>
				<key>slideshow_files/shad_tlcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DfNJ56xt/crvZ5Az70vQ2g==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>slideshow_files/shad_trcorner.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YQQL3d+1H8EC7cUkMzEVLQ==
					</data>
					<key>Size</key>
					<integer>165</integer>
				</dict>
				<key>slideshow_files/stylesDrop.css</key>
				<dict>
					<key>Digest</key>
					<data>
					aMnnEUmk6IVQcXAE0yhJIw==
					</data>
					<key>Size</key>
					<integer>1007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page8</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
